.carousel-control-prev, .carousel-control-next {
            background: none;
            border: none;
            color: black;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-image: none;
        }
        .carousel-control-prev-icon:after,
        .carousel-control-next-icon:after {
            content: '❮';
            font-size: 24px;
            color: black;
        }
        .carousel-control-next-icon:after {
            content: '❯';
        }
        .carousel-img {
            height: 300px;
            width: auto;
            margin: auto;
            display: block;
        }
        .modal-img {
            width: 100%;
            height: auto;
        }
        .main-content {
            min-height: calc(100vh - 200px);
        }